version: '3.9'
services:
  user-cycle:
    build:
      dockerfile: Dockerfile.dev
    command: sh ./dev-entry.sh
    environment:
      - ENV_ID=dev
      - NODE_OPTIONS=--enable-source-maps
    tty: true
    ports:
      - 4000:4000
    volumes:
      # Mount source code
      - .:/app
      # Preserve container's node_modules separate from host (avoid overwriting)
      - /app/node_modules
    restart: always