version: '3.9'
services:
  user-cycle:
    build:
      dockerfile: Dockerfile.dev
    environment:
      - ENV_ID=dev
      - NODE_OPTIONS=--enable-source-maps
    tty: true
    ports:
      - 4000:4000
    volumes:
      # Mount source code for hot reload
      - ./config:/app/config
      - ./emails:/app/emails
      - ./migrations:/app/migrations
      - ./package.json:/app/package.json
      - ./schema.graphql:/app/schema.graphql
      - ./src:/app/src
      - ./tmp:/app/tmp
      # Preserve container's node_modules separate from host (avoid overwriting)
      - /app/node_modules
    restart: always